/* header */
.header .inner-wrap a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header .inner-wrap a img{
    height: 50px;
    width: auto;
}

.header .inner-wrap a span {
    font-size: 20px;
    color: white;
    font-weight: 500;
}
/* end header */

/* section-one */
.section-one{
    display: flex;
    height: calc(100vh - 50px);
}


.section-one .left{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 60%;
    background: linear-gradient(to bottom, #d4fc79, #96e6a1, #7ccff7);
    text-align: center;
    font-size: 30px;
}

.section-one .left h1{
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 60px;
}

.section-one .left .highlight {
    text-decoration: underline;
}

.section-one .right{
    width: 40%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one .right .inner-wrap{
    display: flex;
    flex-direction: column;
}

.section-one .right .inner-wrap h1{
    font-size: 50px;
}

.section-one .right .inner-wrap a{
    align-self: center;
    width: 250px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background 0.3s;
    text-decoration: none;
    text-align: center;
}

.section-one .right .inner-wrap a:hover {
    background-color: #0056b3;
}

.section-one .right img{
    position: absolute;
    height: 100px;
    width: auto;
    right: 20px;
    bottom: 20px;
}
/* end section-one */
